<%= scrivito_details_for 'Keywords' do %>
  <%= scrivito_tag(:div, obj, :meta_keywords) %>
<% end %>

<%= scrivito_details_for 'Description' do %>
  <%= scrivito_tag(:div, obj, :meta_description) %>
<% end %>

<%= scrivito_details_for 'Copyright' do %>
  <%= scrivito_tag(:div, obj, :meta_copyright) %>
<% end %>

<%= scrivito_details_for 'Author' do %>
  <%= scrivito_tag(:div, obj, :meta_author) %>
<% end %>

<%= scrivito_details_for 'Publisher' do %>
  <%= scrivito_tag(:div, obj, :meta_publisher) %>
<% end %>

<%= scrivito_details_for 'Type' do %>
  <%= scrivito_tag(:div, obj, :meta_page_type) %>
<% end %>

<%= scrivito_details_for 'Topic' do %>
  <%= scrivito_tag(:div, obj, :meta_page_topic) %>
<% end %>

<%= scrivito_details_for 'Audience' do %>
  <%= scrivito_tag(:div, obj, :meta_audience) %>
<% end %>

<%= scrivito_details_for 'Robots' do %>
  <%= scrivito_tag(:div, obj, :meta_robots) %>
<% end %>

<%= scrivito_details_for 'Canonical Link' do %>
  <%= scrivito_tag(:div, obj, :meta_canonical) %>
  <div class="text-info">
    Using <strong><%= "https://#{request.raw_host_with_port + scrivito_path(obj)}" %></strong> as default.
  </div>
<% end %>
