<h4>Title of page (Meta title as fallback)</h4>
<%= scrivito_tag(:div, obj, :og_title) %>

<h4>Type</h4>
<%= scrivito_toggle_button_editor(obj, :og_obj_type) %>

<h4>Image</h4>
<%= scrivito_tag(:div, obj, :og_image) %>

<h4>Url</h4>
<%= scrivito_tag(:div, obj, :og_url) %>

<h4>Description</h4>
<%= scrivito_tag(:div, obj, :og_description) %>

<h4>Creator</h4>
<%= scrivito_tag(:div, obj, :og_creator) %>

<h4>Director (For video)</h4>
<%= scrivito_tag(:div, obj, :og_director) %>

<h4>Duration (For video)</h4>
<%= scrivito_tag(:div, obj, :og_duration) %>

<h4>Release Date</h4>
<%= scrivito_tag(:div, obj, :og_release_date) %>

<h4>Author (For book)</h4>
<%= scrivito_tag(:div, obj, :og_author) %>

<h4>Section</h4>
<%= scrivito_tag(:div, obj, :og_section) %>
