<%= render 'seo_page_extender/open_graph/base', obj: obj %>

<h2>Article</h2>
<%= render 'seo_page_extender/open_graph/article', obj: obj %>

<h2>Book</h2>
<%= render 'seo_page_extender/open_graph/book', obj: obj %>

<h2>Music</h2>
<%= render 'seo_page_extender/open_graph/music', obj: obj %>

<h2>Profile</h2>
<%= render 'seo_page_extender/open_graph/profile', obj: obj %>

<h2>Video</h2>
<%= render 'seo_page_extender/open_graph/video', obj: obj %>
