<div class="alert alert-info">
  More informations about open graph and the attributes can be <a href="http://ogp.me/" target="_blank">found here</a>.
</div>
<%= scrivito_details_for 'Title of page (Meta title as fallback)' do %>
  <%= scrivito_tag(:div, obj, :og_title) %>
<% end %>

<%= scrivito_details_for 'Type' do %>
  <%= scrivito_toggle_button_editor(obj, :og_obj_type) %>
<% end %>

<%= scrivito_details_for 'Image' do %>
  <%= scrivito_tag(:div, obj, :og_image) %>
<% end %>

<%= scrivito_details_for 'Url' do %>
  <%= scrivito_tag(:div, obj, :og_url) %>
<% end %>

<%= scrivito_details_for 'Description' do %>
  <%= scrivito_tag(:div, obj, :og_description) %>
<% end %>

<%= scrivito_details_for 'Creator' do %>
  <%= scrivito_tag(:div, obj, :og_creator) %>
<% end %>

<%= scrivito_details_for 'Director (For video)' do %>
  <%= scrivito_tag(:div, obj, :og_director) %>
<% end %>

<%= scrivito_details_for 'Duration (For video)' do %>
  <%= scrivito_tag(:div, obj, :og_duration) %>
<% end %>

<%= scrivito_details_for 'Release Date' do %>
  <%= scrivito_tag(:div, obj, :og_release_date) %>
<% end %>

<%= scrivito_details_for 'Author (For book)' do %>
  <%= scrivito_tag(:div, obj, :og_author) %>
<% end %>

<%= scrivito_details_for 'Section' do %>
  <%= scrivito_tag(:div, obj, :og_section) %>
<% end %>
