<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th><%= t('scrivito_seo_page_extender.word_density.word', default: 'Word') %></th>
      <th><%= t('scrivito_seo_page_extender.word_density.count', default: 'Count') %></th>
      <th><%= t('scrivito_seo_page_extender.word_density.density', default: 'Density') %></th>
    </tr>
  </thead>
  <% list.each do |word, count| %>
    <tr>
      <td>
        <%= word %>
      </td>
      <td>
        <%= count %>
      </td>
      <td>
        <%= (words[:count] > 0 ? count.to_f * 100 / words[:count].to_f : 0).round(2) %>
      </td>
    </tr>
  <% end %>
</table>
